.landing-container {
  height: 80vh;           /* Full screen height */
  width: 100%;
  display: flex;           /* to center content */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: #00e676;        /* your background */
  color: rgb(0, 0, 0);
}

.landing-center{
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    /* border: 1px solid red; */
}

h4{
   font-weight: 400;
}

hr{
    height: 2.5px;
    width: 30%;
    color: #000;
    background-color: #000;
    margin-left: 35%;
    border: none;
}