.profile-header-image {
    background-image: url("https://avatars0.githubusercontent.com/u/8777907?s=60&v=4");
    background-size: cover;
}

.about-card-avatar {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
.about-card-tittle{
    font-size: 20px;
    margin-bottom: 6px;
}

.about-card-subtitle{
    margin-top: -8px;
    font-weight: 300;
    font-size: 16px;
}